@model Project_college_management.ViewModels.TutorEditModel
@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-12">
        <div id="msg">

        </div>
        @using (Ajax.BeginForm("Create", "Tutors", new AjaxOptions { HttpMethod = "POST",InsertionMode = InsertionMode.Replace, UpdateTargetId = "msg", OnSuccess = "onSuccess"  }, new { enctype = "multipart/form-data",id="frm" }))
        {
            <h2>Create new Tutor</h2>
            <div class="form-group row mb-1">
                @Html.LabelFor(x => x.TutorName, new { @class = "col-form-label col-2 text-end" })
                <div class="col-4">
                    @Html.TextBoxFor(x => x.TutorName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.TutorName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row mb-1">
                @Html.LabelFor(x => x.TutorEmail, new { @class = "col-form-label col-2 text-end" })
                <div class="col-4">
                    @Html.TextBoxFor(x => x.TutorEmail, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.TutorEmail, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row mb-1">
                @Html.LabelFor(x => x.TutorPhone, new { @class = "col-form-label col-2 text-end" })
                <div class="col-4">
                    @Html.TextBoxFor(x => x.TutorPhone, new { @class = "form-control", type = "number" })
                    @Html.ValidationMessageFor(x => x.TutorPhone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row mb-1">
                @Html.LabelFor(x => x.TutorPicture, new { @class = "col-form-label col-2 text-end" })
                <div class="col-4">
                    @Html.TextBoxFor(x => x.TutorPicture, new { @class = "form-control", type = "file" })
                    @Html.ValidationMessageFor(x => x.TutorPicture, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-6">
                <button type="submit"  class="btn btn-primary">Save</button>
            </div>
        }
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/jquery-3.7.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        function onSuccess() {
            $("#frm").trigger("reset");
        }
    </script>
}