@model  IEnumerable<Project_college_management.Models.Course>
@{
    ViewBag.Title = "Index";
}
<div class="row justify-content-center">
    <div class="col-3">
        <h3 class="text-bg-info">Aggregates Functions</h3>
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th>Functions-Name</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Count</td>
                    <td>size wise Count: @Model.Count()</td>
                </tr>
                <tr>
                    <td>Maximum</td>
                    <td>Price: @Model.Max(x =>x.CourseFee)</td>
                </tr>
                <tr>
                    <td>Minimum</td>
                    <td>Price: @Model.Min(x => x.CourseFee)</td>
                </tr>
                <tr>
                    <td>Sum</td>
                    <td>Price: @Model.Sum(x => x.CourseFee)</td>
                </tr>
                <tr>
                    <td>Average</td>
                    <td>Price: @Model.Average(x => x.CourseFee)</td>
                </tr>


            </tbody>
        </table>

    </div>
</div>


